<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Propuesta 4 - APP</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/interface.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="header">PID Temperature Controller</div>

        <div class="plot-section">
            <img id="plot" src="/plot" alt="plot">
        </div>

        <div class="temperature-section">
            <section class="current-values">
                <h4>Current Values</h4>
                <div class="value-box">
                    <p>Current Temp: <span>30°C</span></p>
                    <p>Current Time: <span>120 s</span></p>
                </div>
            </section>
            <section class="maximum-values">
                <h4>Maximum Values</h4>
                <div class="value-box">
                    <p>Min Temp: <span id="min_temp">30°C</span></p>
                    <p>Max Temp: <span>65°C</span></p>
                </div>
            </section>
        </div>

        <div class="slider-section">
            <h3>Target Temperature</h3>
            <p>El foco está al <b>100%</b> de su capacidad.</p>
            <div class="slider-controls">
                <label for="tmin">Tmin:</label>
                <input type="range" id="range" min="15" max="65" value="15">
                <label for="tmax">Tmax:</label>
            </div>
            <p>Tobj = <span>40°C</span></p>
        </div>
    </div>
</body>
</html>
