<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Propuesta 4 - APP</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/interface.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="header">PID Temperature Controler</div>

            <div class="plot-section">
                <img id="plot" src="/plot" alt="plot">
            </div>
            

            <div class="temperature-section">
                <section>
                    <h4>Currtent Values</h4>
                    <div>
                        <section style="display: flex; flex-direction: column;">
                            <p>Current Temp:</p> <p>30°C</p>
                        </section> <br>
                        <section class="temperature-section">
                            Current Time: <b></b> 
                        </section>
                    </div>
                </section>
                <section>
                    <h4>Maximum Values</h4>
                    <div>Min Temp: <p id="min_temp"></p> <br> Max Temp: <b></b> </div>
                </section>
            </div>

            
            <div class="slider-section">
                <h3>Target Temperature</h3>
                <section>
                    <p>Tmin:</p>
                    <input type="range" min="0" max="100" value="46">
                    <p>Tmax:</p>
                </section>
                <p>Tobj</p>
                <div class="variables-section">40°C</div>
            </div>
        </div>
    </div>
</body>
</html>