<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Propuesta 4 - APP</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="header">PID Temperature Controler</div>

            <div class="plot-section">
                <img src="/plot" alt="plot">
            </div>

            <div class="slider-section">
                <p>Temp Obj:</p> <br>
                <input type="range" min="0" max="100" value="46">
                <span>46 °C</span>
            </div>

            <div class="temperature-section">
                <div>
                    Min Temp <br>
                    <p>30 °C</p>
                </div>
                <div>
                    Temp Now <br>
                    <p>34 °C</p>
                </div>
                <div>Max Temp <br>
                    <p>46 °C</p>
                </div>
            </div>

            <div class="variables-section">
                <h3>Variables</h3>
                <div>Temperatura máxima alcanzada: <span>51 °C</span></div>
                <div>Temperatura promedio total: <span>38 °C</span></div>
                <div>Temperatura mínima registrada: <span>26 °C</span></div>
            </div>

            <div class="additional">Más cosas aquí</div>
        </div>
    </div>
</body>
</html>
